*{
  margin: 0;
}
body{
  font-family:  san-serif;
  margin: 0;
  border-left: 2px solid #708090;
  border-right: 2px solid #708090;
  overflow-x:hidden;
  overflow-y:hidden;
}
#container {
  display: flex;
  flex-flow: column nowrap;
  height: 100vh;
  /*width: 100vw;*/
}

.header {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  border-bottom: 3px solid #3366FF;
  height:60px;
}

.header > li > h1 {
  color: #3e5358;
  margin: 0;
  padding: 0px 10px ;
}
.header > li:nth-child(2) {
  color: #3e5358;
  margin: 10px 20px 10px 50px;
  padding: 1px 10px 1px 10px;
  display:flex; 
}
.header > li:nth-child(2) >a{
  text-align:center;
  margin: 2px 1px;
}

.header > li:nth-child(2) >input {
  width: 300px;
  height:20px;
  margin : 1px 5px;
}
.header > li:nth-child(3) {
  color: #3e5358;
  margin: 10px 20px 10px 50px;
  padding: 1px 10px 1px 10px;
  display:flex; 
  white-space:nowrap;
}
.header > li:nth-child(3) >input {
  margin: 5px 10px;
}


main {
  flex: 1;
  display: flex;
  flex-flow: row nowrap;
}

.func {
  display: flex;
  list-style: none;
  margin: 10px;
  padding: 0;
}
.func >li{
  margin: 0px 7px;
  padding: 2px 10px;
  color: #3e5358;
  border-radius: 1px;
  border: 1px solid #3366FF;
  border-radius: 6px 6px 6px 6px;
}
.func > li:hover {
  background: #DDFFFF;
  color: #3e5358;
  transition: 1.2s;
  cursor: pointer;
}

#left{
  width:400px;
/*  height:100%;*/
  margin: 0px;
  padding: 10px 20px 10px 50px;
}
#center{
  width:100px;
  height:100%;
  display:flex;
  align-items:center;
  justify-content:center;
}
#right{
  width:400px;
  /*height:100%;*/
  margin:0px;
  padding: 10px 50px 10px 20px;
}

#sendData {
  width:50px;
  height:50px;
  transform:rotate(-45deg);
  border-bottom: 2px solid #3366FF;
  border-right: 2px solid #3366FF;
}

#sendData:hover{
  border-bottom: 2px solid #0000CD;
  border-right: 2px solid #0000CD;
  transition: 1.2s;
  cursor: pointer;
}

footer{
  display: flex;
  background: #d9dfe1;
  margin:0;
  padding:0;
  border-top: 1px solid #708090;
}
footer > small{
  flex: 0 0 85%;
  text-align: center;
  white-space:nowrap;
}
